.ciudades {
    .wrapper {
        lost-utility:clearfix;
        /*lost-utility:edit;*/
    }
    .page-title{
        color:$verde-minppau;
        font-size:ms(3);
        font-weight:800;
        text-transform:uppercase;
        margin:50px 0px;
    }
    main{
        lost-column:5/8 2;
        article {
            padding:40px 0px;
              ul {
                     padding-bottom:20px;
                 }
        }
    }
    aside {
        lost-column:3/8 2;
        padding:40px 0px;
    }

        .card-politica{
            padding-bottom:20px;
            lost-row:1/5;
            height:250px;
            border: {
                bottom:2px solid $verde-minppau;
            }
        }
            
            .conucos {
                margin-top:40px;
                border-top: 2px solid $verde-minppau;
                margin-top: 20px;
                 .card-icon-container, 
                 .card-action {
                     padding-top:40px;
                 }
            }
            .zamora {
                height:300px;
                border:0px;
            }
            .card-icon-container {
                lost-column:2/6;
            }
                .card-img {
                    display:flex;
                        margin-bottom:20px;
                }
                    .card-img img {
                    /*lost-align:center;*/
                        lost-center:101%;
                    }
        .card-action {
            lost-column:4/6;
            min-height:206px;
             display:flex;
             flex-flow:column;
        }
        .card-title {
            flex:1;
            h2 {
                font-size:ms(2);
            }
        }
        .card-desc {
            font-size:ms(1);
        }
        .card-action-btn button {
             width:25%;
        }
}
