/**
 * partials/header
 * ---
 */


// Header container
.header {
    display:flex;
    align-items:center;
    justify-content:center;
}

// Logo
.logo {
    lost-column:1/6 2 flex;
}

.logo-img {}
.logo-mobile {
    width:100px;
}
