/**
 * partials/nav
 * ---
 * Menus
 */


.nav {
    width:65%;
    ul.dl-menu {
        display:flex;
        flex-flow:row;
        justify-content:space-around;
        li{
           min-width:120px;
            text-align: center; 
            list-style:none;
            a{
                text-transform: uppercase;
                font-family:$font-raleway;
                font-weight:500;
                font-size:14px;
                color:$verde-minppau;
            }
        }
    }
}

.nav ul.dl-submenu {
    li{
        padding:12px;
        text-align: center; 
        min-width:120px;
        a{
            color:$body-bg;
            font-size:12px;
        }
    }
}
ul.dl-submenu li {
  display: none // HIDE
}
li:hover > ul.dl-submenu li {
  display: block // SHOW
  }
    
.menu {}

.sub-menu {}

.menu-item {}
