/**
 * partials/nav
 * ---
 * Menus
 */


.nav {
    ul {
        display:flex;
        flex-flow:row nowrap;
        li{
            list-style:none;
            margin-right:12px;
            a{
                text-transform: uppercase;
                font-family:$font-raleway;
                font-weight:500;
                font-size:14px;
                color:$verde-minppau;
            }
        }
    }
}

.menu {}

.sub-menu {}

.menu-item {}
