/**
 * modules/variables
 * ---
 */


/**
 * Typography
 */

$font-family-base: "Helvetica Neue", Helvetica, Arial, "Open Sans", sans-serif;
//-- typo:start --//
$font-pro: 'Source Sans Pro', sans-serif; // 400
$font-raleway: 'Raleway', sans-serif; // 400, 500, 600
//-- typo:end --//


$font-size-base: 140%;
$line-height-base: 1.5;


/**
 * Colors
 */
//-- colors:start --//
$text-color: #767676;
$body-bg: #fff;
$selection-bg: #04A4CC;
$verde-minppau:#0f9e49;
$morado-minppau:#5e2d85;
$rojo-minppau:#d01e35;
//-- colors:end --//



/**
 * Grid
 */

$wrapper-width: 100%;


$padding-horizontal-base: 0px;
$padding-vertical-base: 0px;
$margin-horizontal-base: 0px;
$margin-vertical-base: 0px;
$margin-horizontal-large: 0px;
$margin-vertical-large: 0px;
