/**
 * styles.scss
 * ---
 * Main `sass` file. Import here `sass` files
 */

// Modules
@import "modules/variables";
@import "modules/mixins";
@import "modules/fonts";

// Partials
@import "partials/reset";
@import "partials/wordpress";
@import "partials/modularscale-sass/stylesheets/_modular-scale";
@import "partials/utils";
@import "partials/wrapper";
@import "partials/header";
@import "partials/nav";
@import "partials/sidebar";
@import "partials/footer";
@import "partials/print";
@import "partials/dl-menu";
@import "partials/single";
@import "partials/ciudades";
@import "partials/prensa";

@media (min-width:800px) {
    .news-list {
        lost-flex-container:row;
        .news-item {
        lost-column:2/6 3 flex;
             
        }
    }
    .panels {
        lost-flex-container:row;
        .panel-item {
        lost-column:2/8 4 flex;
        }
    }
    .footer {
        lost-flex-container:row;
        padding:12px;
        section {
        lost-column:2/6 3 flex;
        }
         
    }
    .video-cont {
        lost-flex-container:row;
        background-color:$verde-minppau !important;
            .video-list {
                lost-flex-container:column;
                lost-column:2/6 2 flex;
                align-items:center;
                justify-content:center;
                order:2;
                margin: 0 auto !important;
                position:relative;
                h4{
                     text-transform:uppercase;
                     color:$body-bg;
                     font-size:1.5em;
                     padding:12px;
                }
                .video-item {
                    background-color:lighten($verde-minppau,22%);
                    flex:1;
                    width:100%;
                }
            }
            .video-disp {
                order:0;
                lost-column:4/6 flex;
            }
        }
}

body {
    font-family:$font-pro; 
    /*@include rhythmBorderBottom(2px, 3, $ms-down1); */
}

@media (max-width:900px) {
    #dl-menu {
    display:flex;
    background-color: $verde-minppau;
    }
    .logo-mobile {
        margin:auto;
    }
    ul.dl-menu {
        position: absolute;
        right:0;
        z-index:2;
    }
    button.dl-trigger {
         z-index:5555;
    }
   .header
   {
        display:none;
    }
}
@media (min-width:900px) {
    #dl-menu {
        display:none;
    }

    nav .dl-menu li {
        position:relative;
        a {
        &:visited {
        font-size:1em;
        }
        }
        &:visited {
            background-color:$verde-minppau;
            a {
            color:$body-bg;
        } 
    }
    }
    .dl-submenu {
        position:absolute;
        top:100%;
        padding:0px;
        margin:0px;
    }

      nav .dl-menu  li:hover > ul.dl-submenu li {
          opacity:0;
        perspective:1000px;
        background-color:$verde-minppau;
        transform-origin:50% 50%; 
            @for $i from 1 through 6 {
                &:nth-child(#{$i}){
                animation: { 
                    name: drop;
                    duration: 400ms;
                    delay:(350ms * $i) - 300;
                    timing-function:cubic-bezier(.17,.67,.83,.67);
                    fill-mode:forwards;
                
                }
                text-align:center;
                a{
                    color:$body-bg;  
                }
        
                }
            }
    }
}

@keyframes drop {

    0%{ 
        opacity:0;
        transform:rotateX(90deg);
    }
    60%{
        opacity:1;
        transform:rotateX(-60deg);
    }
    100%{
        transform:rotateX(0deg);
        opacity:1;
    }
}
h1, h2, h3, h4, h5, h6 {
    margin:0;
    font-family:$font-raleway;
    font-weight:600;
}

.hero {
     height:70vh;
     lost-column:2/2;
     background-color:#20d0ff;
     position:relative;
}

.hero__caps {
     lost-align:center;
     lost-column:2/2;
     height:30%;
     h3 , p {
         font-size:2em;
         text-align: center;
         color:aliceblue;
         text-transform: uppercase;
     }
     p {
         position:relative;
         top:90%;
         font-size:2em;
         height:-131%;
     }
}

.hero__btn  {
     lost-column:2/2;
     position: absolute;
     bottom:-12px;
     margin:auto;
     text-align:center;
}
.hero__btn span {
     width:222px;
     font-family:$font-raleway;
     font-weight:600;
     z-index:444;
     text-align: center;
     color:#fff;
     background-color:$rojo-minppau;
     padding:12px;
     cursor:pointer;
     &:hover {
          background-color:lighten($morado-minppau,13%);
     }
}

.ayuda {
     z-index:-2;
     lost-column:2/2;
     height:100%;
     position:relative;
        span{
            display:block;
            width:100%;
            text-align:center;
            font-size:2em;
            order:1;
            color:$verde-minppau;
            /*position:absolute;*/
            /*left:25%;*/
            /*top:24%;*/
            padding-bottom:20px;
        }
}

    .ayuda header {
     lost-align:center;
     height:60vh;
        h3 {
            font-size:2em;
            text-align:center;
            order:0;
        }
}

.panels {
        lost-column:2/2 ;
}
    .panel-item {
        lost-align:center;
        background-color:$text-color;
        height:233px; 
        margin:10px;
        display:block;
        a{
            color:$body-bg; 
            font-size:1em;
        }
    }

    .videos {
        lost-column:2/2 ;
        height:100%;
        transition: transform 0.3 ease;
        transform:scale(1);
        padding-bottom:80px;
        h3 {
            font-size:2em;
            text-align: center;
            text-transform: uppercase;
            color:$verde-minppau;
            margin:120px 0px;
        }
    }
    .video-cont {
        background-color: $body-bg;
        padding:12px;
    }

    .video-item {
        text-align: center;
        padding:12px;
        margin-bottom:12px;
        background-color: #F0F0F0;
    }

    .prensa {
        margin:12px;
        h3 {
            font-size:2em;
            margin:120px;
            color:$verde-minppau;
            text-align: center;
            text-transform: uppercase;

        }
    }

    .newsletter {
        padding-top:12px;
    }

    .newsletter-cont {
        background-color:transparent;
        padding:20px;
    }
    .newsletter-cont h4{
        margin:12px;
        padding-top:20px;
        text-align:center;
        font-size:1.5em;
        color:$verde-minppau;
    }

    .newsletter-cont form{
         display:flex;
         flex-flow:column;
         max-width:320px;
         margin:auto;
         &>* {
             margin:12px;
         }
    }

    .footer {
         background-color:$text-color;
         color:$body-bg;
    }

    .footer h3 {
        padding:12px;
    }

    .footer .sedes .sedes-list {
        list-style:none;
        text-align:center;
        margin:0;
        padding: 0;
        li { 
            a{
                color:$body-bg;
                
            }
        }
    }

    .footer .social-footer  {
        ul {
        list-style:none;
        text-align:center;
        margin:0;
        padding: 0;
        display:flex;
        justify-content:center;
            li {
                padding:6px;
                a {
                color:$dark-minppau;

                }
            }
        }
    }

    .footer .footer-phone {
        p {
            text-align:center;
            margin:0;
            padding: 44px;
            font-size:2em;
            text-transform:uppercase;
        }
    }

    .scale-e {
         transform:scale(.5);
         transition: transform 200ms ease forwards;
    }

    .headroom {
    will-change: transform;
    transition: transform 200ms linear;
    transform-origin:0%;
}
.headroom--pinned {
    transform: translateY(0%);
     background-color: #FFF;
}
.headroom--unpinned {
    transform: translateY(-100%) scale(.5);
}
.contacto .headroom--top {
    background-color:#fff;
}
.header {
    width:100%;
     position:fixed;
     top:0;
     z-index:999;
}

main {
    lost-row:1/1;
     width:85%;
     margin:auto;
}

/*Contactos*/

.contacto .wrapper {
    background-color:$verde-minppau;
}

.contacto article {
    /*height:700px;*/
    /*height:auto;*/
    lost-row:1/1 no-flex;
}
.page-template.contacto .wrapper {
    lost-utility:clearfix;
    height:100%;
}
.page-template.contacto article {
}
.contacto section {
}

.contacto h1 {
    color:$body-bg;
    text-transform: uppercase;
    padding:20px;
    font-size:ms(2);
    font-weight:800;
}

.contact-social {
    color:white;
    min-height:300px !important;
    lost-row:1/3 ;
     & > * {
         lost-column:2/6 3 1px ;
         min-height:220px;
     }
}

.ciara {
    lost-row:1/3 15px ;
     background-color: $body-bg;
     height:400px;
     .ciara-map {
          lost-column:4/6 2 1px;
          padding:12px;
     }
     .ciara-newsletter {
          height:100%;
          lost-column:2/6 2 1px flex;
          padding:20px;
     }
}

.soyagro-logo {
    lost-align:center;
    .soyagro-img {
         top:25px;
    }
}

.ciara-map > .ciara-map-item {
    lost-column:2/4 2;
}

.soyagro-widget {
    lost-row:1/1 flex; 
    border:5px solid purple;
    border-radius:7px;
    .soyagro-registrate {
    lost-align:center;
    }
}

.contact-social-card {
     lost-align:center;
}

.social-minppau {
    h3 {
        text-align:center;
        font-size:ms(1);
    }
    ul {
        display:flex;
        list-style:none;
        padding:0px;
        li{
             margin:12px;
             padding:0px;

             .fa-2x {
                 color:$body-bg;
                  font-size:3em;
             }
             
        }
    }
}

.contact-social-select .inner-social-select {
    width:70%;

    h3 {
         font-size:1em;
         text-align:center;
         height:12px;
    }
    &> * {
        lost-row:1/2 flex;
    }
    button {
        background-color:darken($verde-minppau,10%);
        border:0;
        color:$body-bg;
        height:50px;
        border-radius:7px;
        text-transform:uppercase;
        font-weight:800;
        &:hover {
        background-color:darken($verde-minppau,1%);
        }
    }
}
.contact-social-select, .contact-social-phone {
     lost-align:center;
     font-size:ms(1);
}
.contact-social-phone .inner-social-phone {
    span {
    text-align:center;
    font-size:ms(1);
    }
    .alpha-num {
    color:white;
    text-align:center;
    }
    .num-dial {
    text-transform: uppercase;
    color:darken($verde-minppau, 10%); 
    }
}

.current-menu-item {
     background-color:$verde-minppau;
     border-radius:7px;
     padding:6px;
     a {
         color:$body-bg !important;
     }
}

select#sedes {
     text-align:center;
}

.minppau-contact-form-var {
    padding-top:40px;
    & > div {
        lost-column:6/8;
        lost-move:1/8;
         margin:auto;
    }
}
.minppau-contact-form {
    float:right;
     min-height:900px;
     width:45%;
     margin-top:40px;
}
.page-wrapper {
     width:85%;
     margin:auto;
}
.ministerio {
    main {
        lost-column:8/12 2;
    }
    aside{lost-column:4/12 2;}
}

footer {
    lost-row:1/1;
    margin:0px;
}

.contacto sidebar {
}

.ministerio .textwidget ,
.prensa .textwidget ,
.ciudades .textwidget ,
.contacto .textwidget {
    padding:20px;
    margin-top:44px;
    .soyagro-logo-widget {
	position: absolute;
	top: -18%;
	left: 36.5%;
    }
}

.ciara-newsletter-widget {
	position: relative;
	border: 8px solid purple;
	height: 300px;
	padding: 20px;
	border-radius: 13px;
}

.soyagro-ask , .soyagro-widget-wd {
     lost-row:1/2;
     lost-align:center;
}

.soyagro-ask p{
     color:$verde-minppau;
     font-size:ms(1);
}
.soyagro-registrate-wd {
     width:100%;
}
    button {
        background-color:desaturate(purple,10%);
        border:0;
        width:100%;
        color:$body-bg;
        height:50px;
        border-radius:7px;
        text-transform:uppercase;
        font-weight:800;
        &:hover {
        background-color:darken($verde-minppau,1%);
        }
    }

    .ministerio article h2 {
         font-size:ms(1);
         color:$verde-minppau;
    }

    .prensa main ul {
        margin:0px;
        padding:0px;
    }
   .single main ul,
   .prensa main ul,
    .ciudades article ul ,
    .ministerio article ul {
         display:flex;
         margin:12px;
         li{
             list-style:none;
             padding:6px;
             background-color:$verde-minppau;
             margin-right:12px;
             border-radius:7px;
             width:33%;
             text-align:center;
         } 
         a {
             color:$body-bg;
             font-size:ms(1);
            text-decoration:none;
         }
    }

    .ministerio section h1 {
         color:$verde-minppau;
         font-size:ms(2);
         padding:20px;
    }

    .ministerio article h2{
        padding-top:20px;
    }
    .ministerio article p {
        font-size:18px;
        /*font-size:ms(1);*/
    }

