/**
 * styles.scss
 * ---
 * Main `sass` file. Import here `sass` files
 */
/**
 * modules/variables
 * ---
 */
/**
 * Typography
 */
/**
 * Colors
 */
/**
 * Grid
 */
/**
 * modules/mixins
 * ---
 */
/**
 * modules/fonts
 * ---
 * Declare fonts here
 */
/*
@font-face {
  font-family: "Font-Name";
  src: url("fonts/font-name.eot");
  src: url("fonts/font-name.eot?#iefix") format("embedded-opentype"),
    url("fonts/font-name.woff") format("woff"),
    url("fonts/font-name.ttf") format("truetype"),
    url("fonts/font-name.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal;
}
*/
/**
 * partials/reset
 * ---
 * Reset file
 * NOTE: also `normalize.css` is used
 */
*,
*:after,
*:before {
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Open Sans", sans-serif;
  font-size: 140%;
  line-height: 1.5;
  color: #767676;
  background-color: #fff; }

img {
  max-width: 100%;
  vertical-align: middle; }

a {
  color: #767676;
  text-decoration: none; }
  a:focus, a:hover {
    text-decoration: underline; }

input[type="text"],
input[type="search"] {
  font-size: inherit;
  line-height: inherit; }

::-moz-selection {
  background-color: #04A4CC;
  color: #fff;
  text-shadow: none; }

::selection {
  background-color: #04A4CC;
  color: #fff;
  text-shadow: none; }

/**
 * partials/wordpress
 * ---
 * Wordpess core classes
 */
/**
 * Alignment
 */
.alignnone {
  margin: 0px 0px 0px 0; }

.aligncenter {
  display: block;
  margin: 0px auto; }

.alignright {
  float: right;
  margin: 0px 0 0px 0px; }

.alignleft {
  float: left;
  margin: 0px 0px 0px 0; }

/**
 * Gallery & images
 */
.wp-caption {
  background: #fff;
  border: thin solid #F0F0F0;
  max-width: 95%;
  padding: 0px 0px;
  text-align: center; }
  .wp-caption img {
    width: auto;
    max-width: 98.5%;
    height: auto;
    border: 0 none;
    padding: 0;
    margin: 0; }

.wp-caption .wp-caption-text,
.gallery-caption {
  margin: 0;
  padding: 0 0px 0px;
  font-size: 140%;
  line-height: 1.5; }

/**
 * partials/utils
 * ---
 * Utils classes
 */
.clear:before, .clear:after {
  content: " ";
  display: table; }

.clear:after {
  clear: both; }

.reset-box {
  padding: 0;
  margin: 0; }

/**
 * partials/wrapper
 * ---
 */
.wrapper {
  max-width: 100%;
  padding: 0 0px;
  margin: 0 auto;
  position: relative; }

/**
 * partials/header
 * ---
 */
.header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center; }

.logo {
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
  width: calc(99.9% * 2/6 - (30px - 30px * 2/6)); }

.logo:nth-child(1n) {
  margin-right: 30px;
  margin-left: 0; }

.logo:last-child {
  margin-right: 0; }

.logo:nth-child(2n) {
  margin-right: 0;
  margin-left: auto; }

.logo-mobile {
  width: 100px; }

/**
 * partials/nav
 * ---
 * Menus
 */
.nav ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap; }
  .nav ul li {
    list-style: none;
    margin-right: 12px; }
    .nav ul li a {
      text-transform: uppercase;
      font-family: "Raleway", sans-serif;
      font-weight: 500;
      font-size: 14px;
      color: #0f9e49; }

/**
 * partials/sidebar
 * ---
 */
/**
 * partials/footer
 * ---
 */
/**
 * partials/print
 * ---
 * Print version
 * (from https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css)
 */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group;
    /* h5bp.com/t */ }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }

.dl-menuwrapper {
  width: 100%;
  max-width: 900px;
  float: left;
  position: relative;
  perspective: 1000px;
  perspective-origin: 50% 200%;
  z-index: 6666; }

.dl-menuwrapper:first-child {
  margin-right: 100px; }

.dl-menuwrapper button {
  background: #0f9e49;
  border: none;
  width: 48px;
  height: 45px;
  text-indent: -900em;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  outline: none; }

.dl-menuwrapper button:hover,
.dl-menuwrapper button.dl-active,
.dl-menuwrapper ul {
  background: #0f9e49;
  text-decoration: none; }

.dl-menuwrapper button:after {
  content: '';
  position: absolute;
  width: 68%;
  height: 5px;
  background: #fff;
  top: 10px;
  left: 16%;
  box-shadow: 0 10px 0 #fff, 0 20px 0 #fff; }

.dl-menuwrapper ul {
  padding: 0;
  list-style: none;
  transform-style: preserve-3d; }

.dl-menuwrapper li {
  position: relative; }

.dl-menuwrapper li a {
  display: block;
  position: relative;
  padding: 15px 20px;
  font-size: 16px;
  line-height: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  color: #fff;
  outline: none;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none; }

.no-touch .dl-menuwrapper li a:hover {
  background: rgba(255, 248, 213, 0.1); }

.dl-menuwrapper li.dl-back > a {
  padding-left: 30px;
  background: rgba(0, 0, 0, 0.1); }

.dl-menuwrapper li.dl-back:after,
.dl-menuwrapper li > a:not(:only-child):after {
  position: absolute;
  top: 0;
  line-height: 50px;
  font-family: "Raleway", sans-serif;
  speak: none;
  -webkit-font-smoothing: antialiased;
  content: "\2038"; }

.dl-menuwrapper li.dl-back:after {
  left: 10px;
  color: rgba(212, 204, 198, 0.3);
  -ms-transform: rotate(180deg);
      transform: rotate(180deg); }

.dl-menuwrapper li > a:after {
  right: 10px;
  color: rgba(0, 0, 0, 0.15); }

.dl-menuwrapper .dl-menu {
  margin: 5px 0 0 0;
  position: absolute;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  -ms-transform: translateY(10px);
      transform: translateY(10px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.dl-menuwrapper .dl-menu.dl-menu-toggle {
  transition: all 0.3s ease; }

.dl-menuwrapper .dl-menu.dl-menuopen {
  opacity: 1;
  pointer-events: auto;
  -ms-transform: translateY(0px);
      transform: translateY(0px); }

/* Hide the inner submenus */
.dl-menuwrapper li .dl-submenu {
  display: none; }

/*
When a submenu is openend, we will hide all li siblings.
For that we give a class to the parent menu called "dl-subview".
We also hide the submenu link.
The opened submenu will get the class "dl-subviewopen".
All this is done for any sub-level being entered.
*/
.dl-menu.dl-subview li,
.dl-menu.dl-subview li.dl-subviewopen > a,
.dl-menu.dl-subview li.dl-subview > a {
  display: none; }

.dl-menu.dl-subview li.dl-subview,
.dl-menu.dl-subview li.dl-subview .dl-submenu,
.dl-menu.dl-subview li.dl-subviewopen,
.dl-menu.dl-subview li.dl-subviewopen > .dl-submenu,
.dl-menu.dl-subview li.dl-subviewopen > .dl-submenu > li {
  display: block; }

/* Dynamically added submenu outside of the menu context */
.dl-menuwrapper > .dl-submenu {
  position: absolute;
  width: 100%;
  top: 50px;
  left: 0;
  margin: 0; }

/* Animation classes for moving out and in */
.dl-menu.dl-animate-out-1 {
  animation: MenuAnimOut1 0.4s; }

.dl-menu.dl-animate-out-2 {
  animation: MenuAnimOut2 0.3s ease-in-out; }

.dl-menu.dl-animate-out-3 {
  animation: MenuAnimOut3 0.4s ease; }

.dl-menu.dl-animate-out-4 {
  animation: MenuAnimOut4 0.4s ease; }

.dl-menu.dl-animate-out-5 {
  animation: MenuAnimOut5 0.4s ease; }

@keyframes MenuAnimOut1 {
  0% { }
  50% {
    transform: translateZ(-250px) rotateY(30deg); }
  75% {
    transform: translateZ(-372.5px) rotateY(15deg);
    opacity: .5; }
  100% {
    transform: translateZ(-500px) rotateY(0deg);
    opacity: 0; } }

@keyframes MenuAnimOut2 {
  0% { }
  100% {
    transform: translateX(-100%);
    opacity: 0; } }

@keyframes MenuAnimOut3 {
  0% { }
  100% {
    transform: translateZ(300px);
    opacity: 0; } }

@keyframes MenuAnimOut4 {
  0% { }
  100% {
    transform: translateZ(-300px);
    opacity: 0; } }

@keyframes MenuAnimOut5 {
  0% { }
  100% {
    transform: translateY(40%);
    opacity: 0; } }

.dl-menu.dl-animate-in-1 {
  animation: MenuAnimIn1 0.3s; }

.dl-menu.dl-animate-in-2 {
  animation: MenuAnimIn2 0.3s ease-in-out; }

.dl-menu.dl-animate-in-3 {
  animation: MenuAnimIn3 0.4s ease; }

.dl-menu.dl-animate-in-4 {
  animation: MenuAnimIn4 0.4s ease; }

.dl-menu.dl-animate-in-5 {
  animation: MenuAnimIn5 0.4s ease; }

@keyframes MenuAnimIn1 {
  0% {
    transform: translateZ(-500px) rotateY(0deg);
    opacity: 0; }
  20% {
    transform: translateZ(-250px) rotateY(30deg);
    opacity: 0.5; }
  100% {
    transform: translateZ(0px) rotateY(0deg);
    opacity: 1; } }

@keyframes MenuAnimIn2 {
  0% {
    transform: translateX(-100%);
    opacity: 0; }
  100% {
    transform: translateX(0px);
    opacity: 1; } }

@keyframes MenuAnimIn3 {
  0% {
    transform: translateZ(300px);
    opacity: 0; }
  100% {
    transform: translateZ(0px);
    opacity: 1; } }

@keyframes MenuAnimIn4 {
  0% {
    transform: translateZ(-300px);
    opacity: 0; }
  100% {
    transform: translateZ(0px);
    opacity: 1; } }

@keyframes MenuAnimIn5 {
  0% {
    transform: translateY(40%);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

.dl-menuwrapper > .dl-submenu.dl-animate-in-1 {
  animation: SubMenuAnimIn1 0.4s ease; }

.dl-menuwrapper > .dl-submenu.dl-animate-in-2 {
  animation: SubMenuAnimIn2 0.3s ease-in-out; }

.dl-menuwrapper > .dl-submenu.dl-animate-in-3 {
  animation: SubMenuAnimIn3 0.4s ease; }

.dl-menuwrapper > .dl-submenu.dl-animate-in-4 {
  animation: SubMenuAnimIn4 0.4s ease; }

.dl-menuwrapper > .dl-submenu.dl-animate-in-5 {
  animation: SubMenuAnimIn5 0.4s ease; }

@keyframes SubMenuAnimIn1 {
  0% {
    transform: translateX(50%);
    opacity: 0; }
  100% {
    transform: translateX(0px);
    opacity: 1; } }

@keyframes SubMenuAnimIn2 {
  0% {
    transform: translateX(100%);
    opacity: 0; }
  100% {
    transform: translateX(0px);
    opacity: 1; } }

@keyframes SubMenuAnimIn3 {
  0% {
    transform: translateZ(-300px);
    opacity: 0; }
  100% {
    transform: translateZ(0px);
    opacity: 1; } }

@keyframes SubMenuAnimIn4 {
  0% {
    transform: translateZ(300px);
    opacity: 0; }
  100% {
    transform: translateZ(0px);
    opacity: 1; } }

@keyframes SubMenuAnimIn5 {
  0% {
    transform: translateZ(-200px);
    opacity: 0; }
  100% {
    transform: translateZ(0);
    opacity: 1; } }

.dl-menuwrapper > .dl-submenu.dl-animate-out-1 {
  animation: SubMenuAnimOut1 0.4s ease; }

.dl-menuwrapper > .dl-submenu.dl-animate-out-2 {
  animation: SubMenuAnimOut2 0.3s ease-in-out; }

.dl-menuwrapper > .dl-submenu.dl-animate-out-3 {
  animation: SubMenuAnimOut3 0.4s ease; }

.dl-menuwrapper > .dl-submenu.dl-animate-out-4 {
  animation: SubMenuAnimOut4 0.4s ease; }

.dl-menuwrapper > .dl-submenu.dl-animate-out-5 {
  animation: SubMenuAnimOut5 0.4s ease; }

@keyframes SubMenuAnimOut1 {
  0% {
    transform: translateX(0%);
    opacity: 1; }
  100% {
    transform: translateX(50%);
    opacity: 0; } }

@keyframes SubMenuAnimOut2 {
  0% {
    transform: translateX(0%);
    opacity: 1; }
  100% {
    transform: translateX(100%);
    opacity: 0; } }

@keyframes SubMenuAnimOut3 {
  0% {
    transform: translateZ(0px);
    opacity: 1; }
  100% {
    transform: translateZ(-300px);
    opacity: 0; } }

@keyframes SubMenuAnimOut4 {
  0% {
    transform: translateZ(0px);
    opacity: 1; }
  100% {
    transform: translateZ(300px);
    opacity: 0; } }

@keyframes SubMenuAnimOut5 {
  0% {
    transform: translateZ(0);
    opacity: 1; }
  100% {
    transform: translateZ(-200px);
    opacity: 0; } }

/* No JS Fallback */
.no-js .dl-menuwrapper .dl-menu {
  position: relative;
  opacity: 1;
  -ms-transform: none;
      transform: none; }

.no-js .dl-menuwrapper li .dl-submenu {
  display: block; }

.no-js .dl-menuwrapper li.dl-back {
  display: none; }

.no-js .dl-menuwrapper li > a:not(:only-child) {
  background: rgba(0, 0, 0, 0.1); }

.no-js .dl-menuwrapper li > a:not(:only-child):after {
  content: ''; }

/* Colors for demos */
/* Demo 1 */
.demo-1 .dl-menuwrapper button {
  background: #c62860; }

.demo-1 .dl-menuwrapper button:hover,
.demo-1 .dl-menuwrapper button.dl-active,
.demo-1 .dl-menuwrapper ul {
  background: #9e1847; }

/* Demo 2 */
.demo-2 .dl-menuwrapper button {
  background: #e86814; }

.demo-2 .dl-menuwrapper button:hover,
.demo-2 .dl-menuwrapper button.dl-active,
.demo-2 .dl-menuwrapper ul {
  background: #D35400; }

/* Demo 3 */
.demo-3 .dl-menuwrapper button {
  background: #08cbc4; }

.demo-3 .dl-menuwrapper button:hover,
.demo-3 .dl-menuwrapper button.dl-active,
.demo-3 .dl-menuwrapper ul {
  background: #00b4ae; }

/* Demo 4 */
.demo-4 .dl-menuwrapper button {
  background: #90b912; }

.demo-4 .dl-menuwrapper button:hover,
.demo-4 .dl-menuwrapper button.dl-active,
.demo-4 .dl-menuwrapper ul {
  background: #79a002; }

/* Demo 5 */
.demo-5 .dl-menuwrapper button {
  background: #744783; }

.demo-5 .dl-menuwrapper button:hover,
.demo-5 .dl-menuwrapper button.dl-active,
.demo-5 .dl-menuwrapper ul {
  background: #643771; }

@media (min-width: 800px) {
  .news-list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap; }
    .news-list .news-item {
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
      width: calc(99.9% * 2/6 - (30px - 30px * 2/6)); }
    .news-list .news-item:nth-child(1n) {
    margin-right: 30px;
    margin-left: 0; }
    .news-list .news-item:last-child {
    margin-right: 0; }
    .news-list .news-item:nth-child(3n) {
    margin-right: 0;
    margin-left: auto; }
  .panels {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap; }
    .panels .panel-item {
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
      width: calc(99.9% * 2/8 - (30px - 30px * 2/8)); }
    .panels .panel-item:nth-child(1n) {
    margin-right: 30px;
    margin-left: 0; }
    .panels .panel-item:last-child {
    margin-right: 0; }
    .panels .panel-item:nth-child(4n) {
    margin-right: 0;
    margin-left: auto; }
  .footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    padding: 12px; }
    .footer section {
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
      width: calc(99.9% * 2/6 - (30px - 30px * 2/6)); }
    .footer section:nth-child(1n) {
    margin-right: 30px;
    margin-left: 0; }
    .footer section:last-child {
    margin-right: 0; }
    .footer section:nth-child(3n) {
    margin-right: 0;
    margin-left: auto; }
  .video-cont {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    background-color: #0f9e49 !important; }
    .video-cont .video-list {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
      width: calc(99.9% * 2/6 - (30px - 30px * 2/6));
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
      -ms-flex-order: 2;
          order: 2;
      margin: 0 auto !important;
      position: relative; }
    .video-cont .video-list:nth-child(1n) {
    margin-right: 30px;
    margin-left: 0; }
    .video-cont .video-list:last-child {
    margin-right: 0; }
    .video-cont .video-list:nth-child(2n) {
    margin-right: 0;
    margin-left: auto; }
      .video-cont .video-list h4 {
        text-transform: uppercase;
        color: #fff;
        font-size: 1.5em;
        padding: 12px; }
      .video-cont .video-list .video-item {
        background-color: #32ec7d;
        -ms-flex: 1;
            flex: 1;
        width: 100%; }
    .video-cont .video-disp {
      -ms-flex-order: 0;
          order: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
      width: calc(99.9% * 4/6 - (30px - 30px * 4/6)); }
    .video-cont .video-disp:nth-child(1n) {
    margin-right: 30px;
    margin-left: 0; }
    .video-cont .video-disp:last-child {
    margin-right: 0; }
    .video-cont .video-disp:nth-child(6n) {
    margin-right: 0;
    margin-left: auto; } }

body {
  font-family: "Source Sans Pro", sans-serif; }

@media (max-width: 900px) {
  #dl-menu {
    display: -ms-flexbox;
    display: flex;
    background-color: #0f9e49; }
  .logo-mobile {
    margin: auto; }
  ul.dl-menu {
    position: absolute;
    right: 0;
    z-index: 2; }
  button.dl-trigger {
    z-index: 5555; }
  .header {
    display: none; } }

@media (min-width: 900px) {
  #dl-menu {
    display: none; } }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 600; }

.hero {
  height: 70vh;
  width: calc(99.9% * 2/2 - (30px - 30px * 2/2));
  background-color: #20d0ff;
  position: relative; }

.hero:nth-child(1n) {
  float: left;
  margin-right: 30px;
  clear: none; }

.hero:last-child {
  margin-right: 0; }

.hero:nth-child(2n) {
  margin-right: 0;
  float: right; }

.hero:nth-child(2n + 1) {
  clear: both; }

.hero__caps {
  position: relative;
  width: calc(99.9% * 2/2 - (30px - 30px * 2/2));
  height: 30%; }

.hero__caps:nth-child(1n) {
  float: left;
  margin-right: 30px;
  clear: none; }

.hero__caps:last-child {
  margin-right: 0; }

.hero__caps:nth-child(2n) {
  margin-right: 0;
  float: right; }

.hero__caps:nth-child(2n + 1) {
  clear: both; }

.hero__caps > * {
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
  .hero__caps h3, .hero__caps p {
    font-size: 2em;
    text-align: center;
    color: aliceblue;
    text-transform: uppercase; }
  .hero__caps p {
    position: relative;
    top: 90%;
    font-size: 2em;
    height: -131%; }

.hero__btn {
  width: calc(99.9% * 2/2 - (30px - 30px * 2/2));
  position: absolute;
  bottom: -12px;
  margin: auto;
  text-align: center; }

.hero__btn:nth-child(1n) {
  float: left;
  margin-right: 30px;
  clear: none; }

.hero__btn:last-child {
  margin-right: 0; }

.hero__btn:nth-child(2n) {
  margin-right: 0;
  float: right; }

.hero__btn:nth-child(2n + 1) {
  clear: both; }

.hero__btn span {
  width: 222px;
  font-size: 2em;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  z-index: 444;
  text-align: center;
  color: #fff;
  background-color: #d01e35;
  padding: 12px;
  cursor: pointer; }
  .hero__btn span:hover {
    background-color: #813eb7; }

.ayuda {
  z-index: -2;
  width: calc(99.9% * 2/2 - (30px - 30px * 2/2));
  height: 100%;
  position: relative; }

.ayuda:nth-child(1n) {
  float: left;
  margin-right: 30px;
  clear: none; }

.ayuda:last-child {
  margin-right: 0; }

.ayuda:nth-child(2n) {
  margin-right: 0;
  float: right; }

.ayuda:nth-child(2n + 1) {
  clear: both; }
  .ayuda span {
    width: 33%;
    margin: 0px;
    font-size: 2em;
    -ms-flex-order: 1;
        order: 1;
    color: #0f9e49;
    position: absolute;
    left: 25%;
    top: 24%;
    padding-bottom: 20px; }

.ayuda header {
  position: relative;
  height: 10vh; }

.ayuda header > * {
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
  .ayuda header h3 {
    font-size: 2em;
    text-align: center;
    -ms-flex-order: 0;
        order: 0; }

.panels {
  width: calc(99.9% * 2/2 - (30px - 30px * 2/2)); }

.panels:nth-child(1n) {
  float: left;
  margin-right: 30px;
  clear: none; }

.panels:last-child {
  margin-right: 0; }

.panels:nth-child(2n) {
  margin-right: 0;
  float: right; }

.panels:nth-child(2n + 1) {
  clear: both; }

.panel-item {
  position: relative;
  background-color: #767676;
  height: 233px;
  margin: 10px;
  display: block; }

.panel-item > * {
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
  .panel-item a {
    color: #fff; }

.videos {
  width: calc(99.9% * 2/2 - (30px - 30px * 2/2));
  height: 100%; }

.videos:nth-child(1n) {
  float: left;
  margin-right: 30px;
  clear: none; }

.videos:last-child {
  margin-right: 0; }

.videos:nth-child(2n) {
  margin-right: 0;
  float: right; }

.videos:nth-child(2n + 1) {
  clear: both; }
  .videos h3 {
    font-size: 2em;
    text-align: center;
    text-transform: uppercase; }

.video-cont {
  background-color: #fff;
  padding: 12px; }

.video-item {
  text-align: center;
  padding: 12px;
  margin-bottom: 12px;
  background-color: #F0F0F0; }

.prensa {
  margin: 12px; }
  .prensa h3 {
    font-size: 2em;
    text-align: center;
    text-transform: uppercase; }

.newsletter {
  padding-top: 12px; }

.newsletter-cont {
  background-color: #0f9e49;
  padding: 20px; }

.newsletter-cont h4 {
  margin: 12px;
  padding-top: 20px;
  text-align: center;
  font-size: 1.5em;
  color: #fff; }

.newsletter-cont form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
      flex-flow: column;
  max-width: 320px;
  margin: auto; }
  .newsletter-cont form > * {
    margin: 12px; }

.footer {
  background-color: #767676;
  color: #fff; }

.footer h3 {
  padding: 12px; }

.footer .sedes .sedes-list {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0; }
  .footer .sedes .sedes-list li a {
    color: #fff; }

.footer .social-footer ul {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center; }
  .footer .social-footer ul li {
    padding: 6px; }
    .footer .social-footer ul li a {
      color: #393536; }

.footer .footer-phone p {
  text-align: center;
  margin: 0;
  padding: 44px;
  font-size: 2em;
  text-transform: uppercase; }
